[submodule "third_party/DirectXShaderCompiler"]
	path = third_party/DirectXShaderCompiler
	url = https://www.github.com/zzzzRuby/DirectXShaderCompiler
[submodule "third_party/SPIRV-Tools"]
	path = third_party/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "third_party/SPIRV-Headers"]
	path = third_party/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
